{% if not has_kernel_rwf_t %}#define CONFIG_HAVE_KERNEL_RWF_T{% endif %}
{% if not has_kernel_timespec %}#define CONFIG_HAVE_KERNEL_TIMESPEC{% endif %}
{% if not has_open_how %}#define CONFIG_HAVE_OPEN_HOW{% endif %}
{% if not has_statx %}#define CONFIG_HAVE_STATX{% endif %}
{% if not has_cxx %}#define CONFIG_HAVE_CXX{% endif %}
{% if not has_ucontext %}#define CONFIG_HAVE_UCONTEXT{% endif %}
{% if not has_stringop_overflow %}#define CONFIG_HAVE_STRINGOP_OVERFLOW{% endif %}
{% if not has_array_bounds %}#define CONFIG_HAVE_ARRAY_BOUNDS{% endif %}
